.advantages {
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: repeat-x;
}

.advantages__wrapper {
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 320px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
  margin: 0;
  padding-top: 38px;
  margin-bottom: 2px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $basic-black;
  padding-top: 82px;
  position: relative;

  &--flower::before {
    content: "";
    width: 33px;
    height: 38px;
    position: absolute;
    background-image: url("../img/flower-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--style::before {
    content: "";
    width: 47px;
    height: 27px;
    position: absolute;
    background-image: url("../img/style-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 0;
  }

  &--heart::before {
    content: "";
    width: 34px;
    height: 27px;
    position: absolute;
    background-image: url("../img/heart-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--wool::before {
    content: "";
    width: 35px;
    height: 34px;
    position: absolute;
    background-image: url("../img/wool-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--rocket::before {
    content: "";
    width: 55px;
    height: 23px;
    position: absolute;
    background-image: url("../img/rocket-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--present::before {
    content: "";
    width: 33px;
    height: 32px;
    position: absolute;
    background-image: url("../img/present-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }
}

@media (min-width: $tablet) {
  .advantages {
    padding-top: 36px;
    padding-bottom: 82px;
    background-image: url("../img/zigzag-tablet.svg");
    background-repeat: repeat-x;
  }

  .advantages__wrapper {
    padding: 0 50px;
    max-width: 768px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 5px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
  }

  .advantages__item--flower {
    order: 1;
    padding-top: 92px;
  }

  .advantages__item--wool {
    order: 2;
    padding-top: 92px;

    &::before {
      top: 38px;
      left: 5px;
    }
  }

  .advantages__item--style {
    order: 3;
    padding-top: 110px;

    &::before {
      top: 55px;
    }
  }

  .advantages__item--rocket {
    order: 4;
    padding-top: 110px;

    &::before {
      top: 60px;
      left: -6px;
    }
  }

  .advantages__item--heart {
    order: 5;
    padding-top: 110px;

    &::before {
      top: 60px;
    }
  }

  .advantages__item--present {
    order: 6;
    padding-top: 110px;

    &::before {
      top: 58px;
      left: 2px;
    }
  }
}

@media (min-width: $desktop) {
  .advantages {
    background-image: none;
    padding-bottom: 90px;
  }

  .advantages__wrapper {
    padding: 0 50px 0 225px;
    max-width: 1150px;
    background-image: url("../img/zigzag-desktop.svg");
    background-repeat: repeat-x;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
  }

  .advantages__item {
    width: 349px;
  }
}
