.advantages {
  outline: 2px solid red;
}

.advantages__wrapper {
  padding: 0 30px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
  margin: 0;
  margin-bottom: 10px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $basic-black;
  padding-top: 84px;
  position: relative;

  &--flower::before {
    content: "";
    width: 33px;
    height: 38px;
    position: absolute;
    background-image: url("../img/flower-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--style::before {
    content: "";
    width: 47px;
    height: 27px;
    position: absolute;
    background-image: url("../img/style-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 0;
  }

  &--heart::before {
    content: "";
    width: 34px;
    height: 27px;
    position: absolute;
    background-image: url("../img/heart-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--wool::before {
    content: "";
    width: 35px;
    height: 34px;
    position: absolute;
    background-image: url("../img/wool-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--rocket::before {
    content: "";
    width: 55px;
    height: 23px;
    position: absolute;
    background-image: url("../img/rocket-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }

  &--present::before {
    content: "";
    width: 33px;
    height: 32px;
    position: absolute;
    background-image: url("../img/present-icon.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 8px;
  }
}
