.button {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $extra-black;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $extra-black;
  text-decoration: none;

  &:hover {
    color: $basic-white;
    background-color: $extra-black;
  }

  &:active {
    color: rgba($basic-white, 0.3);
    background-color: $extra-black;
  }
}
