.catalog {
  padding-top: 30px;
}

.catalog__list {
  display: grid;
  row-gap: 30px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.catalog__item {
  min-height: 374px;
}

.catalog__item-wrapper {
  padding: 27px;
  border: 1px solid $extra-grey;
  box-sizing: border-box;
}

.catalog__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid $extra-grey;
}

.catalog__image-link {
  display: block;
  height: 195px;
}

.catalog__image {
  width: 260px;
  height: 195px;
}

.catalog__link {
  color: $basic-black;
  text-decoration: none;
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-black;
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__specification {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $extra-black;
  margin: 0;
  margin-bottom: 18px;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-black;
  margin: 0;
}

.catalog__production {
  margin-bottom: 58px;
}

.catalog__item:hover .catalog__item-wrapper {
  box-shadow: 0 6px 10 rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__item-wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog__add-cart {
  fill: $basic-black;
  opacity: 0.2;
}

.catalog__add-cart:hover {
  fill: $basic-green;
  opacity: 1;
}

.catalog__add-cart:active {
  fill: $basic-green;
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 54px;
    margin-bottom: 53px;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
    padding-right: 30px;
  }

  .catalog__image-link {
    grid-column: 1 / 2;
    height: 334px;
    background-color: $special-grey;
  }

  .catalog__item-wrapper {
    grid-column: 2 /3;
    padding: 27px 33px 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  .catalog__price-wrapper {
    margin-top: auto;
  }

  .catalog__specification {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog__image {
    width: 334px;
    height: auto;
  }
}

@media (min-width: $desktop) {
  .catalog__title {
    padding-right: 20px;
    box-sizing: border-box;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
    row-gap: 30px;
    margin-bottom: 56px;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    min-height: 659px;
    width: 316px;
  }

  .catalog__image-link {
    grid-column: auto;
    height: 462px;
    background-color: $special-grey;
  }

  .catalog__item-wrapper {
    grid-column: auto;
    width: 316px;
    padding-left: 26px;
    padding-right: 33px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }

  .catalog__specification {
    margin-bottom: 12px;
  }

  .catalog__price-wrapper {
    padding-top: 24px;
    box-sizing: border-box;
  }

  .catalog__image {
    width: 316px;
    height: auto;
  }
}
