.contacts__main-wrapper {
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 320px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
  margin: 0;
  margin-bottom: 10px;
}

.contacts__info {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $extra-black;
  margin-bottom: 65px;
}

.contacts__email {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contacts__email-title {
  width: 77px;
  text-transform: lowercase;
  margin: 0;
}

.contacts__email-text {
  width: 183px;
  margin: 0;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
}

.contacts__address-title {
  width: 77px;
  text-transform: lowercase;
  margin: 0;
}

.contacts__address-text {
  width: 183px;
  margin: 0;
}

.contacts__email-link {
  color: $extra-black;
  text-decoration: none;
}

.contacts__button-wrapper {
  margin-top: 42px;
}

.contacts__button {
  width: 260px;
}

.contacts__map-wrapper {
  background-color: lemonchiffon;
}

@media (min-width: $tablet) {
  .contacts__main-wrapper {
    padding: 0 50px;
    max-width: 768px;
  }

  .contacts__info {
    display: flex;
  }

  .contacts__email {
    width: 50%;
  }

  .contacts__button-wrapper {
    text-align: center;
  }

  .contacts__button {
    width: 230px;
    font-size: 17px;
    line-height: 20px;
  }

  .contacts__email,
  .contacts__address {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .contacts__main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 457px;
    padding: 0 50px 0 225px;
    justify-content: flex-start;
    max-width: 1150px;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__wrapper {
    order: 1;
    width: 350px;
  }

  .contacts__map-wrapper {
    order: 3;
  }

  .contacts__button-wrapper {
    order: 2;
    text-align: left;
    width: 350px;
  }

  .contacts__email {
    display: flex;
    width: auto;
  }

  .contacts__email-text {
    width: auto;
  }
}
