.copyright {
  border-top: 1px solid $special-grey;
}

.copyright__link {
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}

.copyright__link svg {
  vertical-align: middle;
  margin-left: 15px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-black;
}

@media (min-width: $tablet) {
  .copyright {
    border-top: none;
  }

  .copyright__link {
    padding-top: 0;
  }
}
