.email__wrapper {
  margin: 0;
  margin-bottom: 34px;
  position: relative;
  float: left;
}

.email__title {
  padding: 0;
  margin-bottom: 20px;
}

.email__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $extra-black;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  padding-right: 60px;
  padding-bottom: 14px;
  border: 0;
  border-bottom: 2px solid $extra-black;
  outline: none;

  &::placeholder {
    color: rgba($basic-black, 0.3);
  }

  &:hover {
    border-bottom-color: $extra-green;
  }

  &:focus {
    border-bottom-color: $extra-green;
    outline: none;
  }

  &:hover ~ .mail-icon {
    fill: $extra-green;
    opacity: 1;
  }

  &:focus ~ .mail-icon {
    fill: $extra-green;
    opacity: 1;
  }
}

.mail-icon {
  position: absolute;
  right: 0;
  top: 0;
  fill: $basic-black;
  opacity: 0.2;
}

@media (min-width: $tablet) {
  .email {
    padding-bottom: 18px;
  }

  .email__title {
    width: 167px;
    float: left;
  }

  .email__input {
    width: 501px;
    background-color: transparent;
    font-size: 19px;
    line-height: 18px;
    padding-left: 17px;
    padding-bottom: 12px;
    background-position: bottom 13px right 20px;
  }
}

@media (min-width: $desktop) {
  .email__title {
    width: 114px;
  }

  .email__list {
    width: 814px;
  }

  .email__input {
    width: 700px;
    background-position: bottom 14px right 5px;
  }
}
