.form-header {
  background-color: $basic-grey;
  min-height: 177px;
  text-align: center;
  padding: 153px 30px 20px 30px;
}

.form-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}
