.main-navigation {
  position: relative;
}

.main-navigation--closed {
  display: none;
}

@media (min-width: $tablet) {
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }

  .main-navigation__toggle {
    display: none;
  }
}
