.modal-cart {
  border: 1px solid $modal-grey;
  max-width: 320px;
  height: 336px;
  padding: 30px 30px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
  text-align: center;
  display: none;
  background-color: $basic-white;

  position: fixed;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  z-index: 200;

  &--active {
    display: block;
  }
}

.modal-cart__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 50px;
}

.modal-cart__text {
  font-size: 15px;
  line-height: 30px;
  color: $extra-black;
  text-align: center;
}

.modal-cart__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  font-family: inherit;
  width: 260px;
  text-transform: uppercase;
  background-color: $basic-green;
  color: $basic-white;
  border: none;
  box-sizing: border-box;
  padding: 15px 0;
  margin-top: 40px;
}

.modal-cart__size-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-cart__label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  width: 82px;
  height: 52px;
  box-sizing: border-box;
  border: 2px solid rgba($extra-black, 0.1);

  &:hover {
    border: 2px solid rgba($extra-black, 0.3);
  }

  &:active {
    border: 2px solid $extra-green;
  }
}

.modal-cart__radio:checked + .modal-cart__label {
  border: 2px solid $basic-green;
}

@media (min-width: $tablet) {
  .modal-cart {
    max-width: 566px;
    padding: 40px 100px;
  }

  .modal-cart__title {
    font-size: 30px;
    line-height: 57px;
    margin: 0;
    padding: 0;
  }

  .modal-cart__text {
    font-size: 17px;
    line-height: 30px;
  }

  .modal-cart__size-list {
    padding: 0 4px;
  }

  .modal-cart__label {
    width: 112px;
  }

  .modal-cart__button {
    width: calc(100% - 4px);
  }
}
