.offer {
  background-color: $bg-grey;
}

.offer__wrapper {
  background-image: url("../img/offer-bg-mobile.jpg");
  background-color: $bg-grey;
  background-repeat: no-repeat;
  background-position: center -18px;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 320px;
}

.offer__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
  margin: 0 auto;
  text-align: center;
  margin-top: 73px;
  padding: 0 30px;
}

.offer__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.offer__button {
  display: block;
  padding: 27px 30px 28px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  text-decoration: none;

  &--interior {
    background-color: $basic-green;
  }

  &--toys {
    background-color: $specal-green;
  }
}

@media (min-width: $tablet) {
  .offer__wrapper {
    min-height: 746px;
    background-image: url("../img/offer-bg.jpg");
    background-position: top;
    max-width: 768px;
    padding: 0 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      left: 0;
      right: 0;
      bottom: -10px;
      background-image: url("../img/zigzag.png");
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  .offer__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .offer__item {
    width: 334px;
  }

  .offer__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: $basic-black;
    margin: 0 auto;
    text-align: center;
    margin-top: 155px;
    padding: 0 30px;
    width: auto;
  }

  .offer__button {
    font-size: 20px;
    line-height: 30px;
    padding: 30px;
  }
}

@media (min-width: $desktop) {
  .offer__wrapper {
    max-width: 1150px;

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      left: 0;
      right: 0;
      bottom: -10px;
      background-image: url("../img/zigzag-desktop.png");
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  .offer__list {
    justify-content: stretch;
  }

  .offer__title {
    font-size: 51px;
    line-height: 55px;
    margin-top: 158px;
    padding: 0 30px;
  }

  .offer__item {
    width: 525px;
  }
}
