.offer {
  background-color: $bg-grey;
  border-top: 1px solid $extra-grey;
}

.offer__wrapper {
  background-image: url("../img/offer-bg-mobile.jpg");
  background-color: $bg-grey;
  background-repeat: no-repeat;
  background-position: center -15px;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/offer-bg-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.offer__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
  margin: 0 auto;
  text-align: center;
  margin-top: 73px;
  padding: 0 30px;
}

.offer__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.offer__button {
  display: block;
  padding: 25px 30px 29px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  text-decoration: none;
  position: relative;

  &:hover {
    padding-bottom: 34px;
    margin-top: -5px;
  }

  &--interior {
    background-color: $basic-green;
  }

  &--toys {
    background-color: $specal-green;
  }

  &--interior::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    background-image: url("../img/interior-icon.svg");
    top: 22px;
    right: 36px;
    opacity: 0.5;
  }

  &--toys::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/toy-icon.svg");
    top: 22px;
    right: 28px;
    opacity: 0.5;
  }

  &--interior:hover::after {
    opacity: 0.7;
  }

  &--toys:hover::after {
    opacity: 0.7;
  }

  &--interior:active::after {
    opacity: 0.3;
  }

  &--toys:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .offer__wrapper {
    min-height: 746px;
    background-image: url("../img/offer-bg.jpg");
    background-position: top;
    /* max-width: 768px; */
    padding: 0 50px;
    position: relative;

    min-width: 768px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/offer-bg@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      left: 0;
      right: 0;
      bottom: -10px;
      background-image: url("../img/zigzag.png");
      z-index: 2;
    }
  }

  .offer__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .offer__item {
    /* width: 334px; */

    min-width: 50%;
  }

  .offer__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: $basic-black;
    margin: 0 auto;
    text-align: center;
    margin-top: 155px;
    padding: 0 30px;
    width: auto;
  }

  .offer__button {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 25px 35px 35px;

    &:hover {
      padding-bottom: 40px;
    }

    &--interior::after {
      top: 30px;
    }

    &--toys::after {
      top: 32px;
      right: 32px;
    }
  }
}

@media (min-width: $desktop) {
  .offer__wrapper {
    max-width: 1150px;

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      left: 0;
      right: 0;
      bottom: -6px;
      background-image: url("../img/zigzag-desktop.png");
      z-index: 2;
    }
  }

  .offer__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 158px;
    padding: 0 30px;
  }

  .offer__item {
    width: 525px;
  }

  .offer__button {
    padding: 25px 25px 35px 35px;
  }
}
