.order-form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $basic-green;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      height: 1px;
      background-color: $extra-green;
      flex-grow: 1;
      flex-shrink: 0;
      margin-left: 29px;
    }
  }
}

.order-form__block {
  border: none;
  margin: 0;
  padding: 0;
  /* margin-bottom: 20px; */
}

.order-form__text-required {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.order-form__bottom-wrapper {
  margin-top: 12px;
}

.order-form__button {
  font-family: inherit;
  background-color: $basic-white;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  width: 260px;
}

@media (min-width: $tablet) {
  .order-form__phone {
    margin-bottom: 0;
    /* padding-top: 40px; */
  }

  .order-form__email {
    padding-bottom: 18px;
  }

  .order-form__wrapper,
  .order__text-wrapper,
  .order-form__bottom-wrapper {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .order-form__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .order-form__text-required {
    order: 1;
    font-size: 17px;
    line-height: 30px;
    align-self: center;
    margin: 0;
  }

  .order-form__button {
    width: 230px;
  }

  .order-form__title {
    margin-top: 10px;
  }
}

@media (min-width: $desktop) {
  .order__text-wrapper,
  .order-form__bottom-wrapper {
    max-width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .order-form__wrapper {
    max-width: 1150px;
    padding: 0 50px 0 111px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .order-form__bottom-wrapper {
    padding: 0 225px;
    padding-bottom: 50px;
  }

  .wishes__title {
    margin-top: 20px;
  }
}
