.order__wrapper {
  padding: 0 30px 55px 30px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.order__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $extra-black;
}

@media (min-width: $tablet) {
  .order__wrapper {
    padding: 0 50px;
    max-width: 768px;
  }

  .order__text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .order__wrapper {
    padding: 0 111px;
    max-width: 1150px;
  }

  .order__text {
    padding: 0 114px;
  }
}
