.page-main {
  width: 320px;
}

.page-main__offer {
  margin-bottom: 31px;
}

.page-main__special-product {
  margin-bottom: 31px;
}

.page-main__advantages {
  margin-bottom: 56px;
}

.page-main__review {
  margin-bottom: 38px;
}

.page-main__contacts {
  margin-bottom: 39px;
}
