.page-main__offer {
  margin-bottom: 31px;
}

.page-main__advantages {
  margin-bottom: 60px;
}

.page-main__review {
  margin-bottom: 44px;
}

.page-main__contacts {
  margin-bottom: 38px;
}

@media (min-width: $tablet) {
  .page-main__offer {
    margin-bottom: 0;
  }

  .page-main__special-product {
    margin-bottom: 0;
  }

  .page-main__advantages {
    margin-bottom: 0;
  }

  .page-main__review {
    margin: 0;
  }

  .page-main__contacts {
    margin-bottom: 56px;
  }
}
