.page-header__logo-wrapper {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__free-shipping {
  display: none;
}

.page-header__additional-navigation {
  display: none;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 767px;
  }

  .page-header__logo-wrapper {
    width: 318px;
    order: 1;
    justify-content: flex-start;
  }

  .page-header__search {
    order: 2;
  }

  .page-header__main-navigation {
    order: 4;
  }

  .page-header__free-shipping {
    display: block;
    order: 5;
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    margin: 0 auto;
    max-width: 1150px;
  }

  .page-header__main-navigation {
    order: 1;
  }

  .page-header__logo-wrapper {
    order: 2;
  }

  .page-header__additional-navigation {
    order: 4;
    display: block;
  }
}
