.phone {
  /* padding-top: 40px; */
}

.phone__wrapper {
  margin: 0;
  margin-bottom: 35px;
}

.phone__title {
  padding: 0;
  margin-bottom: 18px;
}

.phone__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $extra-black;
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  padding: 0;
  padding-bottom: 14px;
  border: 0;
  border-bottom: 2px solid $extra-black;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 10px right 8px;

  &::placeholder {
    color: rgba($basic-black, 0.3);
  }

  &:hover {
    border-bottom-color: $extra-green;
    outline: none;
  }

  &:focus {
    border-bottom-color: $extra-green;
    outline: none;
  }
}

@media (min-width: $tablet) {
  .phone {
    background-color: $basic-grey;
    padding-top: 61px;
  }

  .phone__title {
    margin-top: 0;
    width: 167px;
    float: left;
  }

  .phone__wrapper {
    padding-top: 0;
  }

  .phone__input {
    width: 501px;
    background-color: transparent;
    font-size: 19px;
    line-height: 18px;
    padding-left: 16px;
    padding-bottom: 12px;
    background-position: bottom 13px right 24px;
  }
}

@media (min-width: $desktop) {
  .phone__title {
    width: 114px;
  }

  .phone__list {
    width: 814px;
  }

  .phone__input {
    width: 700px;
    background-position: bottom 14px right 5px;
  }
}
