.phone__wrapper {
  margin: 0;
  margin-bottom: 10px;
}

.phone__title {
  padding: 0;
}

.phone__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $extra-black;
  box-sizing: border-box;
  font-family: inherit;

  &::placeholder {
    color: rgba($basic-black, 0.3);
  }
}

@media (min-width: $tablet) {
  .phone__title {
    width: 167px;
    float: left;
  }

  .phone__input {
    width: 501px;
  }
}

@media (min-width: $desktop) {
  .phone__title {
    width: 114px;
  }

  .phone__list {
    width: 814px;
  }

  .phone__input {
    width: 700px;
  }
}
