.production {
  display: grid;
  box-sizing: border-box;
  border: 1px solid $extra-grey;
  padding-bottom: 33px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__video-wrapper {
  position: relative;
  width: auto;
  height: 150px;
  background-image: url("../img/video-bg-mobile.jpg");
  background-repeat: no-repeat;
  /* background-size: 260px 150px; */
  background-size: cover;
  padding-top: 56.25%;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-bg-mobile@2x.jpg");
  }
}

.production__play-button {
  position: absolute;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-size: 101px 77px;
  border: none;
  background-color: transparent;
  width: 101px;
  height: 77px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 90px;
  padding-top: 6px;
  padding-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: url("../img/camera-icon.svg");
    background-repeat: no-repeat;
    top: 17px;
    left: 34px;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  padding-top: 22px;
  padding-left: 32px;
  padding-right: 15px;
  margin-bottom: 42px;
}

.production__button {
  display: block;
  margin: 0 auto;
  width: 192px;
  padding: 12px 0;
}

@media (min-width: $tablet) {
  .production {
    padding-bottom: 46px;
  }

  .production__video-wrapper {
    height: 455px;
    background-image: url("../img/video-bg-tablet.jpg");
    /* background-size: 668px 455px; */
    order: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-bg-tablet@2x.jpg");
    }
  }

  .production__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 24px;
    padding-left: 107px;
    margin-bottom: 7px;

    &::before {
      top: 21px;
      left: 40px;
    }
  }

  .production__text-wrapper {
    padding: 0 42px;
    box-sizing: border-box;
  }

  .production__text {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 40px;
    margin: 0;
    margin-left: -3px;
  }

  .production__button {
    font-size: 17px;
    line-height: 16px;
    padding: 16px 0;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .production {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: min-content 1fr;
    box-sizing: border-box;
    border: 1px solid $extra-grey;
    min-height: 455px;
    padding-bottom: 0;
  }

  .production__video-wrapper {
    height: 455px;
    background-image: url("../img/video-bg-desktop.jpg");
    background-size: 682.65px 455px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-bg-desktop@2x.jpg");
    }
  }

  .production__title {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding-left: 79px;
    padding-right: 57px;
    padding-top: 80px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 30px;
      left: 77px;
    }
  }

  .production__text-wrapper {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding-left: 79px;
    padding-right: 57px;
  }

  .production__text {
    margin-bottom: 12px;
  }

  .production__button {
    padding: 16px 0;
  }
}
