.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:hover path {
  fill: $another-green;
}

.social__link:active path {
  fill: rgba($another-green, 0.3);
}

@media (min-width: $tablet) {
  .social {
    padding-top: 0;
  }
}
