.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}
