.user-navigation {
  position: relative;
}

.user-navigation__cart {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-black;
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 76px;
  padding-right: 30px;
  position: relative;
  box-shadow: 0 1px 0 $extra-grey, inset 0 1px 0 $extra-grey;

  &:hover {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);
  }
}

.user-navigation__cart-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  fill: $basic-black;
  opacity: 0.2;
}

.user-navigation__cart:hover .user-navigation__cart-icon {
  fill: $basic-green;
  opacity: 1;
}

.user-navigation__cart:active .user-navigation__cart-icon {
  fill: $basic-green;
  opacity: 0.3;
}

.user-navigation--active {
  display: none;
}

@media (min-width: $tablet) {
  .user-navigation {
    border: none;
    display: block;
  }

  .user-navigation__cart {
    box-shadow: none;
    padding: 0;

    /* &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 18px;
      top: 2px;
      left: -52px;
      background-image: url("../img/cart-icon.svg");
    } */
  }

  .user-navigation__cart-icon {
    top: 2px;
    left: -52px;
  }
}
