.wishes__wrapper {
  margin: 0;
}

.wishes__title {
  padding: 0;
}

.wishes__textarea {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $extra-black;
  width: 100%;
  box-sizing: border-box;
  resize: none;

  &::placeholder {
    color: rgba($basic-black, 0.3);
  }
}

@media (min-width: $tablet) {
  .wishes__title {
    width: 167px;
    float: left;
  }

  .wishes__textarea {
    width: 501px;
  }
}

@media (min-width: $desktop) {
  .wishes__title {
    width: 114px;
  }

  .wishes__textarea {
    width: 700px;
  }
}
