$basic-white: #ffffff;
$basic-black: #000000;
$extra-black: #444444;
$basic-green: #63D1BB;
$extra-green: #62D1BA;
$basic-grey: #F1F1F1;
$extra-grey: #ECECEC;

.button {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $extra-black;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $extra-black;
  text-decoration: none;
}
