$basic-white: #ffffff;
$basic-black: #000000;
$extra-black: #444444;
$basic-green: #63D1BB;
$extra-green: #62D1BA;
$basic-grey: #F1F1F1;
$extra-grey: #ECECEC;

.offer {
  background-image: url(../img/offer-bg-mobile.jpg);
  background-repeat: no-repeat;
}

.offer__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;
}

.offer__list {
  list-style: none;
}

.offer__button {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  background-color: $basic-green;
  text-decoration: none;
}
