$basic-white: #ffffff;
$basic-black: #000000;
$extra-black: #444444;
$basic-green: #63d1bb;
$extra-green: #62d1ba;
$specal-green: #56c3b2;
$basic-grey: #f1f1f1;
$extra-grey: #ececec;
$special-grey: #e5e5e5;

$basic-font: "Open Sans", "Arial", sans-serif;
