$basic-white: #ffffff;
$basic-black: #000000;
$extra-black: #444444;
$basic-green: #63D1BB;
$extra-green: #62D1BA;
$specal-green: #56C3B2;
$basic-grey: #F1F1F1;
$extra-grey: #ECECEC;
$special-grey: #E5E5E5;

$basic-font: "Open Sans", "Arial", sans-serif;
